.information {
  position: relative;

  display: flex;
  flex-direction: column;
  min-height: 100vh;
  height: auto;

  background-color: white;
}

.information__content {
  width: 100%;
  min-height: 100vh;
  height: auto;

  padding-top: 60px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.information__content__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  position: relative;
  color: black;

  &:not(last-item) {
    padding: 30px;
  }
}

.information__content__item__image {
  position: relative;
  width: 400px;
  height: 300px;

  &__asset {
    width: 400px;
    height: 300px;

    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: gray;
  }
}

.information__content__item__text {
  padding-top: 20px;

  &__title {
    font-size: 30px;
    font-family: 'Satisfy', cursive;
    padding-bottom: 20px;
  }

  &__description {
    position: relative;
  }
}

@media (min-width: 600px) {
  .information__content__item {
    flex-direction: row;
    align-items: start;
    justify-content: start;
  }
}

@media (min-width: 600px) {
  .information__content__item__text {
    padding-left: 60px;
  }
}
