@import "../../styles/global.scss";

.information {
  position: relative;

  display: flex;
  flex-direction: column;
  height: auto;

  background-color: white;
}

.information__content {
  width: 100%;
  height: auto;

  padding-top: 60px;
  padding-bottom: 20px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .header {
    .title {
      @include title;
      font-size: pxToRems(40);
      color: $information-title;
    }
  }
}

.contentItem {
  flex: 1;
  flex-grow:1;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  position: relative;

  &:not(last-item) {
    padding: 30px;
  }
}

.contentItem__image {
  position: relative;

  &__asset {
    max-width: 100%;
    height: auto;

    margin: 0;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #D8D8D8;
  }
}

.contentItem__metadata {
  flex: 1;
  padding-top: 20px;

  &__title {
    @include title;

    padding-bottom: 20px;
  }

  &__description {
    position: relative;
  }

  &__buttons {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;

    margin-top: 16px;
  }

  &__button {
    padding: 6px 12px;
    border-radius: 16px;
    background: #FFDC00;

    @include title;
    font-size: pxToRems(16);

    &:not(:last-child) {
      margin-bottom: 8px;
    }

    &.inactive {
      background: #b0ddd7;
      cursor: not-allowed;
    }
  }
}

@media (min-width: 800px) {
  .information {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .information__content {
    max-width: 1100px;
  }

  .contentItem {
    flex-direction: row;
    align-items: start;
    justify-content: start;

    .contentItem__metadata {
      padding-top: 0;
    }

    .contentItem__metadata {
      padding-left: 60px;
    }
  }

  .contentItem__image {
    height: 260px;
    width: 400px;

    &__asset {
      height: 260px;
      width: 400px;
    }
  }
}
