{
  "plugins": [
    ["dynamic-import-node"],
    ["transform-runtime",
      {
        "polyfill": false,
        "regenerator": true
      }
    ],
    ["transform-object-rest-spread"],
    ["transform-vue-jsx"]
  ],
  "presets": [
    "env",
    "vue"
  ]
}