rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    match /subscriptions/{rsvpID} {
      allow read, write;
    }

    match /test/{rsvpID} {
      allow read, write;
    }

    match /rsvp/{rsvpID} {
      allow read, write;
    }

    match /rsvpOctober/{rsvpID} {
      allow read, write;
    }

    match /{document=**} {
      allow read, write: if false;
    }
  }
}
