@import "../../styles/global.scss";

.main-menu {
  position: fixed;
  width: 100%;
  height: 100%;
  @include z-index(menu);
  pointer-events: none;

  .main-menu__bar {
    position: relative;

    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;

    background-color: white;

    width: 100%;
    height: 61px;

    border-bottom: 1px solid #e5e5e5;
    pointer-events: all;

    @include z-index(menu-bar);

    .logo {
      height: 100%;
      padding: 20px;

      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }

    .hamburger {
      margin-left: auto;

      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      height: 100%;
      width: 60px;

      background-color: white;

      -webkit-transition: background-color 330ms linear;
      -ms-transition: background-color 330ms linear;
      transition: background-color 330ms linear;

      &:hover {
        background-color: rgba(0, 0, 0, 0.2);
      }
    }

    .navigation-expanded {
      display: none;

      height: 100%;
      padding: 20px;
      margin-left: auto;

      flex-direction: row;
      align-items: center;
      justify-content: center;

      .navigation-item {
        @include title;
        font-size: 20px;
        padding: 10px;
      }
    }
  }
}

.overlay {
  position: fixed;
  @include z-index(overlay);
  background: rgba(255, 255, 255, 1);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  visibility: hidden;
  transition: opacity .35s, visibility .35s;
  overflow: hidden;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  pointer-events: all;

  &.visible {
    opacity: 1;
    visibility: visible;
    -webkit-animation: perspective 0.5s cubic-bezier(0.58, 0.27, 0.81, 0.57) forwards;
            animation: perspective 0.5s cubic-bezier(0.58, 0.27, 0.81, 0.57) forwards;
  }

  &__item {
    @include title;

    padding: 10px 0;
  }
}

@media (min-width: 600px) {
  .navigation-expanded {
    display: flex !important;
  }

  .hamburger,
  .overlay {
    display: none !important;
  }

  .main-menu {
    .main-menu__bar {
      background-color: rgba(0, 0, 0, 0);
      border-bottom: 1px solid transparent;
    }
  }
}

@media (min-width: 800px) {
  .main-menu {
    .main-menu__bar {
      padding: 20px !important;
      padding-top: 30px !important;
    }
  }

  .navigation-expanded {
    .navigation-item {
      font-size: 20px !important;
      padding: 20px !important;
      text-shadow: 2px 2px #FFF;
    }
  }
}

@media (min-width: 1000px) {
  .navigation-expanded {
    .navigation-item {
      font-size: 26px !important;
      padding: 40px !important;
    }
  }
}
