.countdown {
  position: relative;
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: center;

  padding: 26px 0;

  background: #ecf2f0;
}

.countdown__element {
  width: 100%;
}

.countdown__element__section {
  width: 100%;
}

.countdown__element__section__text {
  width: 100%;
  padding: 10px 0;

  font-size: 30px;
  font-family: "Satisfy", cursive;
  text-align: center;
}

@media (min-width: 600px) {
  .countdown {
    padding: 26px 0;
  }

  .countdown__element {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: auto;
  }

  .countdown__element__section {
    display: flex;
    width: auto;

    &:not(:last-child) {
      margin-right: 6px;
    }
  }

  .countdown__element__section__text {
    width: auto;
    min-width: 200px;

    &:not(:last-child) {
      margin-right: 6px;
    }
  }
}

@media (min-width: 800px) {
  .countdown {
    padding: 26px 0;
  }

  .countdown__element {
    display: flex;
    flex-direction: row;
    width: auto;
  }

  .countdown__element__section {
    display: flex;
    width: auto;

    &:not(:last-child) {
      margin-right: 6px;
    }
  }

  .countdown__element__section__text {
    width: auto;
    min-width: 200px;

    &:not(:last-child) {
      margin-right: 6px;
    }
  }
}
