@import "../../styles/global.scss";

.cover {
  position: relative;
  display: flex;
  flex-direction: column;

  @include fullheight;

  &__logo {
    @include z-index(logo);

    position: absolute;
    height: 100%;
    width: 100%;

    display: flex;
    align-items: flex-end;
    justify-content: center;

    &__content {
      margin-top: 80px;
      margin-bottom: 80px;
      margin-bottom: 6vw;
      margin-bottom: calc(6vw + 40px);
      width: 200px;
    }
  }
}

.cover__background {
  position: sticky;
  top: 0;
  left: 0;

  width: 100%;
  @include fullheight;

  background: url("../../assets/header-mobile.jpg") center/cover no-repeat;

  background-repeat: no-repeat;
  background-position: center center;

  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  background-color: #FFF;
}

@media (min-width: 800px) {
  .cover__background {
    background: url("../../assets/header-large.jpg") center/cover no-repeat;
  }

  .cover {
    &__logo {
      align-items: center;

      &__content {
        margin-top: 80px;
        margin-bottom: 0;
        width: 260px;
      }
    }
  }
}

@media (min-width: 1000px) {
  .cover__background {
    background: url("../../assets/header-xlarge.jpg")  center/cover no-repeat;
  }

  .cover {
    &__logo {
      &__content {
        width: 360px;
      }
    }
  }
}

.cover__overlay {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  @include fullheight;
}
