@import "./reset.scss";

// Font family
$font-family--fallback: BlinkMacSystemFont, -apple-system, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
$font-family--global: "Lora", $font-family--fallback;

$colors: (
  'main-fontColor':             rgba(#142E4B, 1),

  'coupleIntro-background':     rgba(#F9D6C8, 1),

  'timeline-background':        rgba(#B0DDD7, 1),
  'timeline-title':             rgba(#FFFFFF, 1),
  'timeline-subtitle':          rgba(#142E4B, 1),

  'information-title':          rgba(#ED3124, 1),

  'rsvp-background':            rgba(#B0DDD7, 1),
);

/* Color variables */
$main-fontColor: map-get($colors, 'main-fontColor');

$coupleIntro-background: map-get($colors, 'coupleIntro-background');

$timeline-background: map-get($colors, 'timeline-background');
$timeline-title: map-get($colors, 'timeline-title');
$timeline-subtitle: map-get($colors, 'timeline-subtitle');

$information-title: map-get($colors, 'information-title');

$rsvp-background: map-get($colors, 'rsvp-background');

/* Mixins */
@function color($key) {
  @return map-get($colors, $key);
}

/* Z-index landscape */
$z-index: (
  spinner             : 100,
  overlay             : 100,
  menu-bar            : 101,
  menu                : 50,
  logo                : 10,
  root                : 0,
  behind              : -1,
);

@function z-index($key) {
  @return map-get($z-index, $key);
}

@mixin z-index($key) {
  z-index: z-index($key);
}

//**************
// Title:
// Karla, bold
//**************
// Body:
// Lora, regular
//**************

@mixin title {
  font-size: 30px;
  font-family: "Karla", cursive;
  font-weight: bold;
  line-height: 1;
}

html,
body {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  padding: 0;
  margin: 0;
  font-family: "Lora", cursive, $font-family--global;
  letter-spacing: 1px;
  line-height: 1.5;
  color: color('main-fontColor');
  background-color: color('background');
  @include z-index(root);
}

html {
  overflow-x: hidden;
  overflow-y: scroll;
}

.material-icons {
  font-family: "Material Icons";
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 0.5;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: "liga";
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
