// Font family
$font-family--fallback: BlinkMacSystemFont, -apple-system, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
$font-family--global: "Satisfy", $font-family--fallback;

$colors: (
  'background':     rgba(255, 255, 255, 1),
  'grey':           rgba(33, 33, 33, 0.2),
  'dark-grey':           rgba(33, 33, 33, 0.8),
  'black':          rgba(0, 0, 0, 1),
  'white':          rgba(255, 255, 255, 1),
  'blue':             #0053ba,
  'dark-blue':        #0053ba,
);

/* Color variables */
$main-application-background: map-get($colors, 'background');

/* Mixins */
@function color($key) {
  @return map-get($colors, $key);
}

/* Z-index landscape */
$z-index: (
  spinner             : 100,
  popup               : 50,
  root                : 0,
  behind              : -1,
);

@function z-index($key) {
  @return map-get($z-index, $key);
}

@mixin z-index($key) {
  z-index: z-index($key);
}

html,
body {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  padding: 0;
  margin: 0;
  font-family: $font-family--global;
  letter-spacing: 1px;
  line-height: 1;
  color: color('black');
  background-color: color('background');
  @include z-index(root);
}

html {
  overflow-x: hidden;
  overflow-y: scroll;
}

/* CSS RESETS */

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

input:focus {
  outline: none;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

* {
  -webkit-font-smoothing: antialiased;
  -webkit-text-shadow: rgba(0, 0, 0, 0.01) 0 0 1px;
  text-shadow: rgba(0, 0, 0, 0.01) 0 0 1px;
}

ul {
  padding-left: 20px;
}
