@import "../../styles/global.scss";

.rsvp-form {
  position: relative;

  display: flex;
  flex-direction: column;
  min-height: 100vh;
  height: auto;

  background-color: white;
}

.content {
  width: 100%;
  min-height: 100vh;
  height: auto;

  padding-top: 60px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .title {
    font-size: 30px;
    font-family: "Karla", cursive;
    font-weight: bold;

    padding-bottom: 20px;
  }

  .userData {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    margin-bottom: 20px;

    .inputContainer {
      margin-bottom: 10px;
    }
  }

  .isAttending {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    margin-bottom: 20px;

    &__label {
      margin-bottom: 10px;
    }
  }

  .bigField {
    textarea {
      margin-bottom: 20px;
    }
  }

  .sendButton,
  .clearButton {
    margin-top: 20px;
    padding: 10px;
    border: 1px solid #000;
  }
}

