@import "../../styles/global.scss";

.rsvp-form {
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  height: auto;

  background-color: $rsvp-background;
}

.content {
  width: 100%;
  height: auto;

  padding: 20px;
  padding-top: 60px;
  padding-bottom: 60px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .title {
    @include title;

    padding-bottom: 40px;
  }

  .userData {
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    margin-bottom: 20px;

    .inputContainer {
      width: 100%;
      margin-bottom: 10px;

      .label {
        @include title;
        font-size: pxToRems(16);

        margin-bottom: 6px;
      }

      .input {
        width: 100%;

        padding: 16px;
        border-radius: 5px;
        border: none;
        outline: none;
      }
    }
  }

  .isAttending {
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    margin-bottom: 20px;

    .label {
      @include title;
      font-size: pxToRems(16);

      margin-bottom: 6px;
    }

    .input {
      width: 100%;
      padding: 16px;
      border-radius: 5px;
      border: none;
      outline: none;
    }
  }

  .bigField {
    width: 100%;

    padding-bottom: 20px;

    &--extended {
      .input {
        min-height: 150px;
      }
    }

    .label {
      @include title;
      font-size: pxToRems(16);

      margin-bottom: 6px;
    }

    .input {
      width: 100%;
      padding: 16px;
      border-radius: 5px;
      border: none;
      outline: none;
    }
  }

  .buttons {
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .button {
      width: 100%;

      margin-top: 20px;
      padding: 20px 60px;
      border-radius: 30px;

      @include title;
      font-size: pxToRems(16);

      &:not(:last-child) {
        margin-right: 10px;
      }

      &:hover,
      &:active {
        animation: bounce 1s infinite;
      }
    }

    .sendButton {
      background: #FFDC00;
      border: 1px solid #FFDC00;
    }

    .clearButton {
      background: none;
      border: 1px solid #142E4B;
    }
  }
}

@keyframes bounce {
	0%, 20%, 60%, 100% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
	}

	40% {
		-webkit-transform: translateY(-10px);
		transform: translateY(-10px);
	}

	80% {
		-webkit-transform: translateY(-5px);
		transform: translateY(-5px);
	}
}

@media (min-width: 600px) {
  .rsvp-form {
    .content {
      max-width: 560px;

      .buttons {
        width: auto;
        flex-direction: row;

        .button {
          padding: 12px 24px;
          border-radius: 24px;
          white-space: nowrap;
        }
      }
    }
  }
}

@media (min-width: 1000px) {
  .rsvp-form {
    .content {
      max-width: 660px;
    }
  }
}