.timeline {
  position: relative;

  display: flex;
  flex-direction: column;
  min-height: 100vh;
  height: auto;
  
  background-color: #000;

  &__content {
    width: 100%;
    min-height: 100vh;
    height: auto;

    &__item {
      position: relative;
      color: white;

      &:not(last-item) {
        padding: 30px;
      }

      &__image {
        position: relative;
        width: 200px;
        height: 200px;

        text-align: center;

        &__asset {
          display: inline-block;

          width: 200px;
          height: 200px;
          border-radius: 50%;

          background-position: center center;
          background-repeat: no-repeat;
          background-size: cover;
          background-color: gray;
        }
      }

      &__title {
        position: relative;
      }

      &__description {
        position: relative;
      }
    }
  }
}
