@import "../../styles/global.scss";

.couple-intro {
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  height: auto;

  padding-top: 50px;
  padding-bottom: 50px;

  background-color: $coupleIntro-background;

  .couples {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: auto;

    .metadata {
      display: inline-block;
      max-width: 380px;
      width: auto;
      padding: 15px 30px;

      .title {
        @include title;
        margin-top: 14px;
        margin-bottom: 14px;
        text-align: center;
      }

      .text {
        text-align: center;
      }
    }

    .couple {
      display: inline-block;

      .image {
        width: 160px;
        border: 8px solid #FFF;
        background-color: #D8D8D8;
        transition: all ease-in-out 330ms;

        &--bride {
          transform: rotate(-5deg);

          &:hover,
          &:active {
            transform: rotate(5deg) scale(1.1);
          }
        }

        &--groom {
          transform: rotate(5deg);

          &:hover,
          &:active {
            transform: rotate(-5deg) scale(1.1);
          }
        }
      }
    }

    .and {
      padding-top: 20px;
      padding-bottom: 40px;

      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      text-align: center;

      @include title;
      font-size: pxToRems(100);
      color: $coupleIntro-and;
    }
  }

  .couples-text-large {
    display: none;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    margin-top: 30px;

    .couple {
      display: inline-block;
      width: 380px;
      padding: 15px;

      .title {
        @include title;
        margin-bottom: 14px;
        text-align: center;
      }

      .text {
        text-align: center;
      }
    }
  }
}

@media (min-width: 800px) {
  .couple-intro {
    .couples {
      flex-direction: row;

      .and {
        padding-left: pxToRems(80);
        padding-right: pxToRems(80);
        padding-bottom: 40px;
      }

      .metadata {
        display: none !important;
        padding: 15px;
      }
    }
  }

  .couples-text-large {
    display: flex !important;
  }
}
