.couple-intro {
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  min-height: 100vh;
  height: auto;

  padding-top: 50px;

  background-color: white;
}

.couple-intro__couples {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: auto;
}

.couple-intro__couples__couple {
  display: inline-block;
  width: 200px;
  height: 200px;
  border-radius: 50%;

  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #D8D8D8;

  &--bride {
    // background-image: url("../../assets/cover.jpg");
  }

  &--groom {
    // background-image: url("../../assets/cover.jpg");
  }
}

.couple-intro__couples__and {
  padding-top: 28px;
  padding-bottom: 20px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  text-align: center;

  font-size: 80px;
  text-shadow: 1px 1px 1px #000;
  font-family: "Alex Brush", cursive;
}

@media (min-width: 800px) {
  .couple-intro__couples {
    flex-direction: row;
  }

  .couple-intro__couples__and {
    padding-left: 25px;
    padding-right: 25px;
  }
}
