@import "../../styles/global.scss";

.couple-intro {
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  height: auto;

  padding-top: 50px;
  padding-bottom: 50px;

  background-color: $coupleIntro-background;

  .couples {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: auto;

    .metadata {
      display: inline-block;
      width: 380px;
      padding: 15px;

      .title {
        @include title;
        margin-top: 8px;
        margin-bottom: 8px;
      }
    }

    .couple {
      display: inline-block;

      .image {
        width: 160px;
        border: 8px solid #FFF;
        background-color: #D8D8D8;

        &--bride {
          transform: rotate(-5deg);
        }

        &--groom {
          transform: rotate(5deg);
        }
      }
    }

    .and {
      padding-top: 20px;
      padding-bottom: 20px;

      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      text-align: center;

      @include title;
      font-size: 100px;
      color: $coupleIntro-and;
    }
  }

  .couples-text-large {
    display: none;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 20px;

    .couple {
      display: inline-block;
      width: 380px;
      padding: 15px;

      .title {
        @include title;
        margin-bottom: 8px;
      }
    }
  }
}

@media (min-width: 800px) {
  .couple-intro {
    .couples {
      flex-direction: row;

      .and {
        padding-left: 40px;
        padding-right: 40px;
        padding-bottom: 40px;
      }

      .metadata {
        display: none !important;
      }
    }
  }

  .couples-text-large {
    display: flex !important;
  }
}
