@import "./styles/global.scss";

.fade-enter {
  opacity: 0;
}

.fade-enter-active,
.fade-leave-active {
  transition: 200ms all ease;
}

.fade-leave-to {
  opacity: 0;
}

.application,
.main-route {
  width: 100%;
  height: 100%;
}
